span.twemoji.git {
    color: #f05133;
}

span.twemoji.line {
    color: #06c755;
}

span.twemoji.dcard {
    background-color: #006aa6;
    color: #ffffff;
}

span.twemoji.ptt {
    background-color: #990000;
    color: #ffffff;
}

span.twemoji.plurk {
    color: #ff574d;
}

span.twemoji.discord {
    color: #5765f2;
}

span.twemoji.facebook {
    color: #0866ff;
}

span.twemoji.reddit {
    color: #ff4500;
}

span.twemoji.telegram {
    color: #24a1dd;
}

span.twemoji.threads {
    color: #ffffff;
}

span.twemoji.twitter {
    color: #00a3f6;
}

span.twemoji.youtube {
    color: #ff0033;
}