name: Deploy to github page

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    environment: github-pages
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pip
      - run: pip install -r requirements.txt
      - run: mkdocs build --clean
        env:
          site_url: ${{ vars.SITE_URL }}
          repo_url: ${{ vars.REPO_URL }}
          edit_uri: ${{ vars.EDIT_URI }}
          onion_location: ${{ vars.ONION_LOCATION }}
      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
